In [91]:
import pandas as pd

In [92]:
collisionAllYears = []

In [103]:
def read_clean_csv():
    for i in xrange(1,7):
        df = pd.read_csv("originalCsvFiles/collisionCsvFiles/collision201"+str(i)+".csv")
        if i == 4:
            collisionDataFrame = pd.DataFrame(df[df.INCIDENT_TYPE == "CRIME_TYPE"])
        else:
            collisionDataFrame = pd.DataFrame(df[df.INCIDENT_TYPE == "Fatal/Injury Collision"])
        collisionAllYears.append(collisionDataFrame)

In [109]:
i = 4
df = pd.read_csv("originalCsvFiles/collisionCsvFiles/collision201"+str(i)+".csv")
df.shape
collisionDataFrame = pd.DataFrame(df[df.INCIDENT_TYPE == "Fatal/Injury Collision"])

AttributeError: 'DataFrame' object has no attribute 'INCIDENT_TYPE'

In [48]:
df = pd.read_csv("originalCsvFiles/collisionCsvFiles/collision2011.csv")

In [49]:
df.head()

                INCIDENT_TYPE    HUNDRED_BLOCK  MONTH  YEAR
0  Break and Enter - Business  15500 24TH AVE       1  2011
1  Break and Enter - Business   6300 152ND ST       1  2011
2  Break and Enter - Business  16400 80TH AVE       1  2011
3  Break and Enter - Business   9000 152ND ST       1  2011
4  Break and Enter - Business  14600 64TH AVE       1  2011

In [52]:
type(df[df.INCIDENT_TYPE == "Fatal/Injury Collision"])

pandas.core.frame.DataFrame

In [69]:
collisionDataFrame = pd.DataFrame(df[df.INCIDENT_TYPE == "Fatal/Injury Collision"])

In [70]:
def get_long_lat(address):
    latit = 45.22
    longtit = 23.1212
    return (latit, longtit)

In [71]:
for index, row in collisionDataFrame.iterrows():
    #location = row["HUNDRED_BLOCK"]
    latit, longtit = get_long_lat(row["HUNDRED_BLOCK"])
    collisionDataFrame.set_value(index,'Latitude', latit)
    collisionDataFrame.set_value(index,'Longitude', longtit)

In [72]:
collisionDataFrame.to_csv("crimeFiltered2011.csv", encoding='utf-8', index=False)

In [73]:
crimes = pd.read_csv("crimeFiltered2011.csv")

In [74]:
crimes.shape

(5305, 6)

In [75]:
crimes.head()

            INCIDENT_TYPE     HUNDRED_BLOCK  MONTH  YEAR  Latitude  Longitude
0  Fatal/Injury Collision    9400 160TH ST       1  2011     45.22    23.1212
1  Fatal/Injury Collision  12800 108TH AVE       1  2011     45.22    23.1212
2  Fatal/Injury Collision   15300 102A AVE       1  2011     45.22    23.1212
3  Fatal/Injury Collision     7100  LEVY PL      1  2011     45.22    23.1212
4  Fatal/Injury Collision   10200 141ST ST       1  2011     45.22    23.1212

In [45]:
crimes.shape

(20709, 5)